h1 {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: brown;
}

body {
    background-color:lightblue;
}

a {
    border: 2px solid black;
    outline: green solid 5px;
}

img {
    max-width: 50%;
}