h1 {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

body {
    background-color:lightblue;
}

h1{
    color: yellow;
}

a {
    border: 2px solid black;
    outline: green solid 5px;
}